
h1{
   color:white; 
   background-color: black;
}
p{
color:black;
   background-color: white;
   }
h2{
color:yellow;
   background-color: blue;
}
   <style>
  
    
    div{
    color:red;
    margin:20px;
}

p{
    font-weight:bold;
}

li{
    font-weight:bold;

}
  </style>
