
h1{
   color: orange; 
   background-color: black;
   font-size: 24px;
   text-decoration: underline;
   font-family: arial;
   text-align: center;
   text-shadow: 2px 2px #E9E9E9;
   letter-spacing: 2px;
   word-spacing: 10px;
}
p{
color:black;
   background-color: white;
   text-align: left;
   font-size: 12px;
   font-family: arial;
   }
h2{
color:yellow;
   background-color: blue;
}
a{
color:black;
   background-color: white;
   text-align: left;
   font-size: 16px;
   font-family: arial;
}
ul{
   border-width: 2px;
   border-style: solid;
   border-color: black;
    
    div{
    color:red;
    margin:20px;
       border-width: 1px;
       border-style: solid;
}



li{
    font-weight:bold;
}

